<h1>Articles Listing</h1>

<table>
    <th>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </th>

    <tb>
        <% @articles.each do |article| %>
            <tr>
                <td><%= article.title %></td>
                <td><%= article.description %></td>
                <td>Placeholder</td>
            </tr>
        <% end %>
    </tb>
</table>

<br><br><br>
<button id="add-article-btn">Add New Article</button>

<script>
  document.getElementById("add-article-btn").addEventListener("click", function() {
    window.location.href = "<%= new_article_path %>";
  });
</script>