<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="d-flex align-items-center">
      <img src="https://cdn-icons-png.flaticon.com/128/9852/9852209.png" alt="Logo" width="30" height="24" class="me-2">
      <a class="navbar-brand" href="http://localhost:3000/">betablogs.pk</a>
    </div>
    <%# <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> %>
    <%# <div class="collapse navbar-collapse" id="navbarSupportedContent"> %>
    <%# <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Discover Articles</a>
        </li>
      </ul> %>
    <%# </div> %>
  </div>
</nav>